<%- include("partials/header");-%>
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Daily Blog</h1>
                    <span class="subheading">A Blog By Lakshmi Mishra</span>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->

                    <!-- Divider-->
                      <hr class="my-4" />
                <% postList.forEach(function(post) {%>
                    <div class="post-preview">
                      <!--  <a href="/post/:">-->
                            <h2 class="post-title"><%= post.postTitle %></h2>
                            <input type="hidden" value="<%= post._id %>" name="post_id"  ></input>
                            <p><%= post.postContent.substring(0,200)+"....." %> <a href="/post/<%= post.postTitle %>">Read More</a></p>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Lakshmi</a>
                            on September 24, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                      <hr class="my-4" />
                    <%})%>
                    </div>
            </div>
        </div>

<%- include("partials/footer");-%>
